button {
  cursor: pointer;
  outline: none;
}

.btn-primary {
  display: inline-block;
  padding: 0.75em 1.25em;
  border: 1px solid $black;
  border-radius: 2.5em;
  background-color: $white;
  color: $black;
  font-family: $font-head;
  font-weight: $font-head-weight;
  font-size: 1rem;
  line-height: 1em;
  letter-spacing: 0.1em;
  transition: all $anim-time;

  &:hover,
  &:focus,
  &.active {
    background-color: $black;
    color: $white;
  }
}