* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

body {
  background-color: $gray-f;
  font-family: $font-body;
  font-weight: $font-body-weight;
  letter-spacing: 0.1em;
}

h1, .title {
  margin-bottom: 1em;
  font-family: $font-head;
  font-weight: $font-head-weight;
  letter-spacing: 0.1em;
}

h1 { font-size: 2em; }
.title { font-size: 1.5em; }

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}