// Colors
$white:               #ffffff;
$gray-f:              #f1f1f1;
$gray-c:              #c6c6c6;
$black:               #000000;

// Sizes
$gap:                   40px;
$container-max-width:   1000px;

// Breakpoints
$bp-mobile-max:         640px;

// Time
$anim-time:             0.3s;